<head>
  <% if content_for?(:page_title) %>
    <title>GoGo - <%= yield :page_title %></title>
  <% else %>
    <title>GoGo</title>
  <% end %>

  <%= csrf_meta_tag %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>

  <meta name="viewport"
  content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
  content="ie=edge">

  <%= evil_icons_sprite %>
</head>